#page  {
    padding: 20px;
    margin: 20px;
    background-color: rgba(255, 192, 203, 0.075);
  }
  .xcolumn {
    background-color: silver;
    min-height: 40px;
  }
  #add{
      padding-left: 900px;
  }
  .button-row{
      display: flex;
      justify-content: center;
      justify-content: space-around;
  }