<form [formGroup] = "admform" (ngSubmit)="onclick()">
<div class="parent" >
    
     <div class="main-child">
   <div class="sub-child1"><h2>Admission Form for School name</h2>
    <div class="line"></div>
    <p>
       * Please fill all the required details
   </p></div></div>

   <div class="main-child2 name">
        <div id="heading">Student Name<span aria-label="Required">*</span></div>
   <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>First name</mat-label>
      <input type="text" formControlName='firstname' matInput>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label> Last Name </mat-label>
      <input type="text" formControlName='lastname'  matInput>
    </mat-form-field></td>
  </tr></table></div>
   <div class="main-child2 date" >
       <div id="heading">Date of Birth
       <span aria-label="Required">*</span>
       </div>
       <mat-form-field   style="padding-left: 10px" appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput type="text" formControlName='DOB'  [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
      </mat-form-field>

     </div>
   <div class="main-child2 gender" style="height: 150px;"><div id="heading">Gender<span aria-label="Required">*</span></div>
   <mat-radio-group type="select" formControlName="gender" class="select" aria-label="Select an option">
    <mat-radio-button  value="Male" style="padding-left:20px;padding-top: 10px;">Male</mat-radio-button>
    <mat-radio-button  value="Female" style="padding-left:20px;padding-top: 10px;">Female</mat-radio-button>
    <mat-radio-button  value="Others" style="padding-left:20px;padding-top: 10px;">Others</mat-radio-button>
  </mat-radio-group>
  
</div>
   <div class="main-child2 blood"><div id="heading">Blood Group<span aria-label="Required">*</span></div>
   <mat-form-field  style="padding-left: 10px" appearance="fill">
    <mat-label>Type the Blood Group</mat-label>
    <input type="text" formControlName="bloodgroup" matInput>
  </mat-form-field></div>
   <div class="main-child2 number1"><div id="heading">Student's Adhaar Number<span aria-label="Required">*</span></div>
   <mat-form-field  style="padding-left: 10px" appearance="fill">
    <mat-label>Enter Student's Adhaar</mat-label>
    <input type="text" formControlName="sadhaar" matInput>
  </mat-form-field></div>
   <div class="main-child2 name"><div id="heading">Father's Name<span aria-label="Required">*</span></div>
   <mat-form-field  style="padding-left: 10px" appearance="fill">
    <mat-label>Enter Father's Name</mat-label>
    <input type="text" formControlName="father" matInput>
  </mat-form-field>
</div>
   <div class="main-child2 name"><div id="heading">Mother's Name<span aria-label="Required">*</span></div>
   <mat-form-field  style="padding-left: 10px" appearance="fill">
    <mat-label>Enter Mother's Name</mat-label>
    <input type="text" formControlName="mother" matInput>
  </mat-form-field>
</div>
   <div class="main-child2 name"><div id="heading">Guardian's Name</div>
   <mat-form-field  style="padding-left: 10px" appearance="fill">
    <mat-label>Enter Guardian's Name</mat-label>
    <input type="text" formControlName="guardian" matInput>
  </mat-form-field>
</div>
   <div class="main-child2 number1"><div id="heading">Parent's/Guardian's Adhaar Number<span aria-label="Required">*</span></div>
   <mat-form-field  style="padding-left: 10px" appearance="fill">
    <mat-label>Enter Parent/Guardian's Adhaar</mat-label>
    <input type="text" formControlName="padhaar" matInput>
  </mat-form-field>
</div>
   <div class="main-child2 number2"><div id="heading">Contact Number(Parents)<span aria-label="Required">*</span></div>
   <mat-form-field  style="padding-left: 10px" appearance="fill">
    <mat-label>Enter Contact No</mat-label>
    <input type="text" formControlName="contact" matInput>
  </mat-form-field>
</div>
   <div class="main-child2 date"><div id="heading">Date on Admission<span aria-label="Required">*</span></div>
   <mat-form-field style="padding-left : 10px ;" appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input type="text" formControlName="DOA" matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
   
   <div class="main-child2 mail"><div id="heading">Email<span aria-label="Required">*</span></div>
   <mat-form-field style="padding-left:10px ;" appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input  type="text" formControlName="email" matInput placeholder="pat@example.com"  required>
</mat-form-field>
    </div>
   <div class="main-child2 radio1" style="height: 260px;"><div id="heading">Standard of Admission<span aria-label="Required">*</span></div>
   <mat-radio-group class="select"type="select" formControlName="SOA" aria-label="Select an option">
    <mat-radio-button value="LKG" style="padding-left:20px;padding-top: 10px;">LKG</mat-radio-button>
    <mat-radio-button value="UKG" style="padding-left:20px;padding-top: 10px;">UKG</mat-radio-button>
    <mat-radio-button value="1st Standard" style="padding-left:20px;padding-top: 10px;">I</mat-radio-button>
    <mat-radio-button value="2st Standard" style="padding-left:20px;padding-top: 10px;">II</mat-radio-button>
    <mat-radio-button value="3st Standard" style="padding-left:20px;padding-top: 10px;">III</mat-radio-button>
    <mat-radio-button value="4st Standard" style="padding-left:20px;padding-top: 10px;">IV</mat-radio-button>
    <mat-radio-button value="5st Standard" style="padding-left:20px;padding-top: 10px;">V</mat-radio-button>
  </mat-radio-group>
</div>
   <div class="main-child2 radio2" style="height: 110px;"><div id="heading">Nationality<span aria-label="Required">*</span></div>
   <mat-radio-group class="select" type="select" formControlName="nation" aria-label="Select an option">
    <mat-radio-button value="Indian" style="padding-left:20px;padding-top: 10px;">Indian</mat-radio-button>
    <mat-radio-button value="others" style="padding-left:20px;padding-top: 10px;">Others</mat-radio-button>
  </mat-radio-group>
</div>
   <div class="main-child2 radio3"><div id="heading">Religion<span aria-label="Required">*</span></div>
   <mat-form-field style="padding-left:10px ;">
    <mat-label>Select</mat-label>
       <mat-select type="select" formControlName="religion" [(value)]="selectedValue">
           <mat-option value="Hindu">Hindu</mat-option>
           <mat-option value="Christian">Christian</mat-option>
           <mat-option value="Muslim">Muslim</mat-option>
           <mat-option value="Others">Others</mat-option>
       </mat-select>
   </mat-form-field>
</div>
   <div class="main-child2 radio4"><div id="heading">Community<span aria-label="Required">*</span></div>
   <mat-form-field style="padding-left:10px ;">
    <mat-label>Select</mat-label>
       <mat-select type="select" formControlName="community" [(value)]="myvalue">
           <mat-option value="BC">BC</mat-option>
           <mat-option value="MBC">MBC</mat-option>
           <mat-option value="SC/ST">SC/ST</mat-option>
           <mat-option value="OC">OC</mat-option>
           <mat-option value="Others">Others</mat-option>
       </mat-select>
   </mat-form-field></div>
   <div class="main-child2 text1"><div id="heading">Sub-Caste</div>
   <mat-form-field  style="padding-left: 10px;padding-bottom: 5px " appearance="fill">
    <mat-label>Input</mat-label>
    <input type="select" formControlName="caste" matInput>
  </mat-form-field>
</div>
   <div class="main-child2 text2"><div id="heading">Address<span aria-label="Required">*</span></div>
   <mat-form-field style=" padding-left: 10px;" appearance="fill">
    <mat-label>Address</mat-label>
    <textarea type="text" formControlName="address" matInput style="width:60%"></textarea>
  </mat-form-field></div>
   <div class="main-child2 number3"><div id="heading">Pin code<span aria-label="Required">*</span></div>
   <mat-form-field  style="padding-left: 10px;padding-bottom: 5px; Height: 120px" appearance="fill">
    <mat-label>Enter Pin code</mat-label>
    <input type="text" formControlName="pin" matInput>
  </mat-form-field></div>
   <div class="main-child2 sports" style="Height: 110px"><div id="heading">If, Extra Curricular/Area of Spl. interest.</div>
   <mat-form-field  style="padding-left: 10px;padding-bottom: 5px " appearance="fill">
    <mat-label>Input</mat-label>
    <input type="text" formControlName="extra" matInput>
  </mat-form-field></div>
   <div class="main-child2 upload"><div id="heading">Upload the Photo of the Student<span aria-label="Required">*</span></div>
   <input style = "padding-left: 10px; color: rgb(156, 75, 231);" class="ng-hide" id="input-file-id" multiple type="file" />
  
  </div>
   <div class="main-child2 number"><div id="heading">Generate Student ID<span aria-label="Required">*</span></div>
   <mat-form-field  style="padding-left: 10px;padding-bottom: 5px " appearance="fill">
    <mat-label>Input</mat-label>
    <input type="text" formControlName="studid" matInput>
  </mat-form-field></div>
  <div class="example-button-row">
    
      <button  mat-flat-button color="primary">Submit</button>
      
      <button mat-stroked-button color="warn">Clear</button>
    </div>
</div>

</form>  
  
   
  


