.homepage{
    
    height: 100vh;
    margin-left:0;
    padding:0px;
    //box-sizing: border-box;
    background-color:rgb(245, 245, 250);
}
.container{
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid black;
}
.databutton{
    position: relative;
    left: 100%;
    width:10%;
    padding:5px;
    height: 10vh;
    border:solid brown;
    border-radius: 5px;
    text-align: center;
}
.align {
    text-align: center;
  }
  .frame {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 100px;
  }
  .frame:hover {
    border: 2px solid #777;
  }
  
  .move {
    display: flex;
    justify-content: center;
    padding: 50px;
    border: 1px solid black;
    margin: 10px;
  }
  .center {
    display: flex;
    justify-content: center;
  }