<div class="main">
    <div class="card">
        <div class="img-container">
            <img src={{mydata.imagelink}}  />
            <div class="text">
                <h1>{{mydata.firstname}}&nbsp;&nbsp;{{mydata.lastname}}</h1>
                <h2>{{mydata.studid}}</h2>
                <h3>{{mydata.DOB}}</h3>
                <h3>{{mydata.bloodbroup}}</h3>
            </div>
        </div>
        <div class="profile-container">
            <h2>Personal Details</h2>
            <div class="detail">
            <ul>
                <li>Gender : {{mydata.gender}}</li>
                <li>Father Name : {{mydata.father}}</li>
                <li>Mother Name : {{mydata.mother}}</li>
                <li>Student's Adhaar : {{mydata.sadhaar}}</li>
                <li>Parent's Adhaar : {{mydata.padhaar}}</li>
                <li>Contact Number : {{mydata.contact}}</li>
                <li>Email : {{mydata.email}}</li>
                <li>Guardian's Name : {{mydata.guardian}}</li>
               
            </ul>
        </div>
        </div>
        <div class="vl"></div>
        <div class="other-container">
            <h2>Other Details</h2>
            <div class="detail">
                <ul>
                    <li>Date of Admission : {{mydata.DOA}}</li>
                    <li>Standard of Admission : {{mydata.SOA}}</li>
                    <li>Nationality : {{mydata.nation}}</li>
                    <li>Religion : {{mydata.religion}}</li>
                    <li>Community : {{mydata.community}}</li>
                    <li>Sub-Caste : {{mydata.caste}}</li>
                    <li>Address: {{mydata.address}}</li>
                    <li>Pincode: {{mydata.pin}}</li>
                    <li>If, Extra Curricular/Area of Spl. interest.: {{mydata.extra}}</li>
                   
                </ul>
        </div>
    </div>
</div>