<div class="main">
    <div class="card">
        <div class="img-container">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Virat_Kohli.jpg" />
            <div class="text">
                <h1>{{name}}</h1>
                <h2>{{studentid}}</h2>
                <h3>{{DOB}}</h3>
                <h3>{{bloodbroup}}</h3>
            </div>
        </div>
        <div class="profile-container">
            <h2>Personal Details</h2>
            <div class="detail">
            <ul>
                <li>Gender : {{gender}}</li>
                <li>Father Name : {{father}}</li>
                <li>Mother Name : {{mother}}</li>
                <li>Student's Adhaar : {{sadhaar}}</li>
                <li>Parent's Adhaar : {{padhaar}}</li>
                <li>Contact Number : {{contact}}</li>
                <li>Email : {{mail}}</li>
                <li>Guardian's Name : {{guard}}</li>
               
            </ul>
        </div>
        </div>
        <div class="vl"></div>
        <div class="other-container">
            <h2>Other Details</h2>
            <div class="detail">
                <ul>
                    <li>Date of Admission : {{DOA}}</li>
                    <li>Standard of Admission : {{SOA}}</li>
                    <li>Nationality : {{nation}}</li>
                    <li>Religion : {{religion}}</li>
                    <li>Community : {{community}}</li>
                    <li>Sub-Caste : {{caste}}</li>
                    <li>Address: {{address}}</li>
                    <li>Pincode: {{pin}}</li>
                    <li>If, Extra Curricular/Area of Spl. interest.: {{extra}}</li>
                   
                </ul>
        </div>
    </div>
</div>