
     <form [formGroup]="feesform"  class="normal-form" >
        <div id="page" class="html ui">
        
          <div style='text-align: center' class="ui attached segment">
           <h2> Student Fees Details Register  </h2>
           
          </div>
          <div class="ui segments">
            <span><h5 class="ui top attached header">
              Student Details 
              </h5></span> 
              <mat-slide-toggle (change)="hide($event)" [formControl]="autoRenew"  #toggleBtn >Enable to edit</mat-slide-toggle>
            <div   class="ui attached segment">
              <div class="ui form">
                <div class="fields">
                  <div class="four wide field">
                    <label>Student Id</label>
                    <input type="text"  placeholder="id" [readOnly]= 'detailshide'  formControlName = studentid>
                  </div>
                  <div class="four wide field">
                    <label>Student Name</label>
                    <input type="text"  placeholder="Name"  [readOnly]= 'detailshide'  formControlName = name>
                   
                  </div>
                  <div class="four wide field">
                    <label>Standard</label>
                    <input type="text"  placeholder="Select" *ngIf = 'detailshide'  [readOnly]= 'detailshide'  formControlName = standard>
                    <select required type="select" *ngIf = !detailshide  placeholder="select" formControlName=standard>
                      <option value=""  hidden>Select the Class</option>
                      <option value="LKG">LKG</option>
                      <option value="UKG">UKG</option>
                      <option value="1st Standard">1st Standard</option>
                      <option value="2st Standard">2st Standard</option>
                      <option value="3st Standard">3st Standard</option>
                      <option value="4st Standard">4st Standard</option>
                      <option value="5st Standard">5st Standard</option>
                  </select>
                  </div>
                  <div class="four wide field">
                    <label>Alloted Fees</label>
                    <input type="text" [readOnly]= 'detailshide' placeholder="Enter the amount to be alloted" formControlName = allotedfee>
                  </div>
                  <div class="four wide field">
                    <label>Balance Fees</label>
                    <input type="text" [readOnly]= 'detailshide' placeholder="Enter the Balance Amount" formControlName = balance  readOnly="readonly"/>
 
                  </div>
                  
                </div>
                
                <div class="ui form">
                <div class="fields">
                  <div class="four wide field">
                    <label>Trip type</label>
                    <input type="text"  placeholder="Select" *ngIf = 'detailshide'  [readOnly]= 'detailshide'  formControlName = triptype>
                    <select required type="select" *ngIf = '!detailshide'  placeholder="select" formControlName = triptype>
                      <option value=""  hidden>Select the trip</option>
                      <option value="N/A">N/A</option>
                      <option value="Trip1">Trip1</option>
                      <option value="Trip2">Trip2</option>
                  </select>
                  </div>
                  <div class="four wide field">
                    <label>Boarding Point</label>
                    <input type="text" [readOnly]= 'detailshide' placeholder="Enter the Boarding Point" formControlName = boardingpoint>
                  </div>
                  <div class="four wide field">
                    <label>Alloted Bus Fees</label>
                    <input type="text" [readOnly]= 'detailshide' placeholder="Enter the amount to be alloted" formControlName = allotedbusfee>
                  </div>
                  <div class="four wide field">
                    <label>Selected Extra -Curricular</label>
                    <input type="text" [readOnly]= 'detailshide'  placeholder="Enter the Interest" formControlName = selectedECA>
                  </div>
                  <div class="four wide field">
                    <label>Alloted ECA Fees</label>
                    <input type="text" [readOnly]= 'detailshide'  placeholder="Enter the ECA Alloted Fees" formControlName = allotedECAfee>
                  </div>
                </div>
              </div>
                </div>
              </div>
            
        
          </div>
          
          <div class="ui segments">
            <h5 class="ui top attached header">
              School Fees Payment Details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a type="button" (click)="addschoolfee()" ><mat-icon style="font-size: medium;color: primary; border-color: blue;  border-radius: 50px;">add</mat-icon></a>
               
            </h5> 
            <div class="ui attached segment" >
              <div class="ui form" formArrayName="termfees" *ngFor="let hobby of schoolfee; let i = index">
                <div class="fields"  [formGroupName]="i" >
                 
                  <button  type="button" name="mybutton" (click)="billcheck($event,i)" id='trig' >e</button>
                 
                  <div class="four wide field" >
                    <label [attr.for]="'type'+i" >Select Term</label>
                    <input type="text" placeholder="Select"  [id]="'typei'+i"  formControlName=type >
                    <select required   *ngIf=!sh type="select" [id]="'type'+i" formControlName=type>
                      <option value=""  hidden>Select the term</option>
                      <option value="term1">Term1</option>
                      <option value="term2">Term2</option>
                      <option value="term3">Term3</option>
                    </select>
                  </div>


                  <div class="four wide field">
                    <label [attr.for]="'termfee'+i">Term Fees</label>
                    <input type="text" [id]="'termfee'+i"  placeholder="Enter Term Fees" formControlName = termfee>
                  </div>
                  
                  <div class="four wide field">
                    <label [attr.for]="'tpaiddate'+i">Input #4</label>
                    <input type="date" [id]="'tpaiddate'+i" name="dateofbirth" formControlName = tpaiddate>
                  </div>
                  <div class="four wide field">
                    <label [attr.for]="'tremarks'+i">Remarks</label>
                    <input type="text"   placeholder="Remarks" [id]="'tremarks'+i" formControlName = tremarks>
                  </div>
                  <div class="four wide field check">
                    <!-- <label [attr.for]="'tremarks'+i">Bill ID</label> -->
                    <!-- <input type="number"   placeholder="Remarks" [id]="'billno'+i" [(ngModel)]="val" formControlName = billno> -->
                   
                    <input  *ngIf=!hider type="number" placeholder="billno"  [id]="'billno'+i" name="text" value='' formControlName = billno>
                    <!-- <button (click)="billcheck($event,i)">hide</button> -->
                    <input type="checkbox" [id]="'termfees'+i" name="isChecked" (change)="termdetails($event,i)">
                    <!-- <input type="text" [id]="'termfees'+i" formControlName = billno> -->
                    <!-- <button class="btn btn-sm btn-success"  (click)="termbillclick(i)">Show Bill</button> -->
                  </div>
                  
                </div>
                <hr class="new1">
              </div>
            </div>
            
          </div>
          <div class="ui segments">
            <h5 class="ui top attached header">
              Bus Fees Payment Details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a type="button" (click)="addbusfee()" ><mat-icon style="font-size: medium;color: primary; border-color: blue;  border-radius: 50px;">add</mat-icon></a>
               
            </h5> 
            <div class="ui attached segment" >
              <div class="ui form" formArrayName=busfee *ngFor="let hobby of busfees; let i = index">
                <div class="fields" [formGroupName]="i">

                 
                  <button   type="button" name="mybutton" (click)="billcheck1($event,i)" id='trig1' >e</button>
                  <div class="four wide field">
                    <label [attr.for]="'monthtype'+i">Select Select Month</label>
                    <input type="text" placeholder="Select"  [id]="'monthtypei'+i"  formControlName=monthtype >
                    <select type="select" *ngIf=!sh required [id]="'monthtype'+i" formControlName=monthtype>
                      <option value=""  hidden>Select the month</option>
                      <option value="January">January</option>
                      <option value="Februry">Februry</option>
                      <option value="March">March</option>
                      <option value="April">April</option>
                      <option value="May">May</option>
                      <option value="June">June</option>
                      <option value="July">July</option>
                      <option value="August">August</option>
                      <option value="September">September</option>
                      <option value="October">October</option>
                      <option value="November">November</option>
                      <option value="December">December</option>
                    </select>
                  </div>
                  <div class="four wide field">
                    <label [attr.for]="'monthfee'+i">Monthly Fees Amount</label>
                    <input type="text" [id]="'monthfee'+i"  placeholder="Enter Bus fees" formControlName = monthfee>
                  </div>
                  
                  <div class="four wide field">
                    <label [attr.for]="'mpaiddate'+i">Paid date</label>
                    <input type="date" [id]="'mpaiddate'+i" name="dateofbirth" formControlName = mpaiddate>
                  </div>
        
                  <div class="four wide field">
                    <label [attr.for]="'mremarks'+i">Remarks</label>
                    <input type="text" [id]="'mremarks'+i"  placeholder="Remarks" formControlName = mremarks>
                  </div>
                  <div class="four wide field check">
                    <input  type="number" placeholder="billno"  [id]="'bbillno'+i" name="text" value='' formControlName = billno>
                    <input type="checkbox" [id]="'busfees'+i" name="isChecked" (change)="busdetails($event,i)">
                    <!-- <button class="btn btn-sm btn-success" (click)="busbillclick(i)">Show Bill</button> -->
                  </div>
                 
                </div>
                <hr class="new1">
              </div>
            </div>
        
          </div>
          <div class="ui segments">
            <h5 class="ui top attached header">
              Others Fees Payment Details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a type="button" (click)="otherfee()" ><mat-icon style="font-size: medium;color: primary; border-color: blue;  border-radius: 50px;">add</mat-icon></a>
              
            </h5> 
            <div class="ui attached segment" >
              <div class="ui form" formArrayName=otherfee *ngFor="let hobby of otherfees; let i = index">
                <div class="fields" [formGroupName]="i" >
                  
                  <button   type="button" name="mybutton" (click)="billcheck2($event,i)" id='trig2' >e</button>
                  <div class="four wide field">
            
                    <label [attr.for]="'omonthtype'+i">Select Select Month</label>
                    <input type="text" placeholder="Select"  [id]="'omonthtypei'+i"  formControlName=omonthtype >
                    
                    <select type="select" required [id]="'omonthtype'+i"  formControlName=omonthtype>
                      <option value=""  hidden>Select the month</option>
                      <option value="January">January</option>
                      <option value="Februry">Februry</option>
                      <option value="March">March</option>
                      <option value="April">April</option>
                      <option value="May">May</option>
                      <option value="June">June</option>
                      <option value="July">July</option>
                      <option value="August">August</option>
                      <option value="September">September</option>
                      <option value="October">October</option>
                      <option value="November">November</option>
                      <option value="December">December</option>
                    </select>
                  </div>
                  <div class="four wide field">
                    <label [attr.for]="'omonthfee'+i">Monthly Fees</label>
                    
                    <input type="text" [id]="'omonthfee'+i"  placeholder="Enter Term Fees" formControlName = omonthfee>
                  </div>
                  
                  <div class="four wide field">
                    <label [attr.for]="'opaiddate'+i">Paid date</label>
                    <input type="date" [id]="'opaiddate'+i" name="dateofbirth" formControlName = opaiddate>
                  </div>
                  <div class="four wide field">
                    <label [attr.for]="'oremarks'+i">Remarks</label>
                    <input type="text" [id]="'oremarks'+i"  placeholder="Remarks" formControlName = oremarks>
                  </div>
                  <div  class="four wide field check">
                    <input type="number" placeholder="billno"  [id]="'obillno'+i" name="text" value='' formControlName = billno>
                    <input type="checkbox" [id]="'otherfees'+i" name="isChecked" (change)="otherdetails($event,i)">
                    
                  </div>
                 
                </div>
                <hr class="new1">
              </div>
            </div>
        
          </div>
        </div>
        <div class="button-row" style="padding:20px">
          <!-- <button mat-raised-button color="primary"  (click)="postvalues()">Add</button> -->
          <button mat-raised-button color="secondary" (click)="updatevalue()">Update</button>
          <button class="btn btn-sm btn-success" (click)="billclick()">Show Bill</button>
          <button mat-raised-button color="warn" (click)="onClose()">Close</button>
        </div>
        </form>

        