.full-width-table {
    width: 100%;
  }
  .data-table{
    width: 90%;
    height: 100%;
    margin: 20px auto;
    border-radius: 9px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }