
<div class="invoice">
    <div class="invoice-logo">
      <img src="https://placeimg.com/640/480/arch/any" alt="">
    </div>
    <div class="invoice-sec-1">
      <div class="invoice-sec-1-ref">
        <div class="ref-no">
         <strong><i>Savithri vidhyalaya Nursery & primary - Lalgudi</i></strong> 
          <p><strong>Bill No : {{mydata[0].billno}}</strong></p>
          <td></td>
        </div>
        <div class="to-invoice">
            <tr>
                <p class="pull-right"><strong>Student Name : {{stud.name}} </strong></p>
                
            </tr>
            <tr>
                <p class="pull-right"><strong>Student ID : {{stud.studentid}}</strong></p>
               
            </tr>
            <tr>
                <p class="pull-right"><strong>Standard : {{stud.standard}}</strong></p>
                
            </tr>
       
        </div>
      </div>
      <div class="invoice-sec-1-date">
      <p>   <strong>Date:</strong>  <span>{{myDate}}</span></p>
      </div>
    </div>
    <div class="invoice-banner">
      <div class="banner-d">
        <p>Fees Patriculars</p>
      </div>  
    </div>
    <!-- <div class="invoice-table"> -->
      <!-- <div class="invoice-table-container">
        <div class="invoice-table-data">
          <table >
            <tr >
                <th style="width: 100px;">S/No</th>
                <th style="width: 450px;">Feestype</th>
                <th style="width: 100px;">Amount</th>
            </tr>
            <tr *ngFor = "let dat of mydata">
                <td *ngFor = "let col of index">
                    {{dat[col]}}
                </td>
                
            </tr>
            <tr>
              <td >Total</td>
            </tr> -->
            <!-- <tr *ngFor="let value of mydata.marks ">
                <td *ngFor = "let col of index">
                    {{value[col]}}
                </td>
            </tr> -->
        <!-- </table> -->
        <table class="table table-bordered ">
					<thead>
						<tr>
                          <th>S/No</th>
							<th>Feestype</th>
                          <th>Month/Term</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody  class="css-serial" >
					<tr *ngFor = "let dat of mydata"> 
            <td>
              
            </td>
						<td *ngFor = "let col of index"> {{dat[col]}}</td>
						</tr>
          </tbody>
          </table>
          <table class="table table-bordered ">

         
            <!-- <tr><td colspan="4"></td></tr> -->
<tr>
							<!-- <td colspan="3">&nbsp;</td> -->
							<td><strong>Total</strong></td>
							<td><strong>{{getTotalCost()}}</strong></td>
						</tr>
				
			
        </table>
  <!-- </div> -->
  